#root {
  margin: 0 auto;
  text-align: center;
}

.Menu {
  display: flex;
  width: 100vw;
  height: 65px;
  background-color: grey;
  color: white;
  font-weight: 400;
  position: sticky;
  top: 0;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  list-style: none;
}

.menu-item{
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.menu-link {
  color: white;
}

.characters-page{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #fcf3e8;
  padding: 10px;
}

#characters{
  width: 100%;
  text-align: center;
}

.characters-page-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
  gap: 15px;
}

.character-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.characterCard {
  display: flex;
  width: 75%;
  height: 220px;
  border: 1px solid #213547;
  border-radius: 10px;
}

.character-image{
  display: flex;
  width: 30%;
  object-fit: cover;
}

.character-infobox{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}


.character-name{
  display: flex;
  background-color: #7b47f5;
  color: white;
  height: 40px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 1.2em;
  align-items: center;
  border-radius: 0 0 0 0;
}

.characters-infobox-info {
  display: flex;
  width: 100%;
  padding-left: 25px;
  justify-content: center;
  padding-top: 15px;
}

.character-info-questions{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.character-info-answers{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.character-info{
  list-style: none;
}

.filter-container{
  display: flex;
  width: 36%;
  background-color: #7b47f5;
  padding: 10px 0 0 10px;
  justify-content: center;
}

.search_bar {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search_input {
  font-size: 0.9em;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 10px;
  border-color: transparent;
  background-color: white;
  max-width: 350px;
  min-width: 220px;
  height: 34px
}

.search_button {
  display: none;
}


@media screen and (min-width: 600px) {
  .characters-page-content{
    flex-direction: row;
  }
}


